<link rel="stylesheet" href="__PUBLIC__/css/metro.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/metro-responsive.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/metro-schemes.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/metro-rtl.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/metro-icons.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/public.css">
<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/js/metro.min.js"></script>
<script src="__PUBLIC__/js/public.js"></script>
<script src="__PUBLIC__/js/procity.js"></script>
<!-- <script src="__PUBLIC__/js/validate.js"></script> -->
<!-- <script src="__PUBLIC__/js/procity.js"></script> -->
