<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Blocks/import" />
</head>
<body>
    <include file="Blocks/nav" />
    <div class="container">
        <div class="row gaga">
            <div class="col-md-3 pull left">
                <div class="thumbnail">
                    <div class="bg-logo" style="background-image: url(__PUBLIC__/images/600.jpg);"></div>
                    <div class="caption text-center">
                        <img src="__PUBLIC__/images/shanzhi.gif"  class="logo">
                        <h3>达文皙</h3>
                        <p>不以彼岸为目的的航行</p>
                        <p>
                            <a href="#" class="btn btn-danger" role="button">Focus</a>
                        </p>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h4> <i class="fa fa-weibo fa-1x"></i>
                            微博
                            <small>WeiBo</small>
                        </h4>
                        <img src="__PUBLIC__/images/weibo.png" alt="二维码" class="panel-img" style="width:85%;height:85%;padding-top:10px;padding-bottom: 15px;">
                        <h4> <i class="fa fa-weixin fa-1x"></i>
                            微信
                            <small>WeiXin</small>
                        </h4>
                        <img src="__PUBLIC__/images/weixin.jpg" alt="二维码" class="panel-img"></div>
                </div>
            </div>
            <div class="col-md-6  center">
                 <div class="panel panel-default">
                    <div class="panel-body content" style="padding-top:0;">
                        <volist id="vo" name="articleList">
                            <div class="row" style="padding-top:20px;">
                                <div class="col-md-9">
                                    <a href="__MODULE__/Code/detail?id={$vo.id}"><h3 style="padding-bottom: 3px;margin-top:3px;">{$vo.title|strip_tags|subtext=23}</h3></a>
                                    <p style="padding-bottom: 10px;">{$vo.content|htmlspecialchars_decode|strip_tags|subtext=120}</p>
                                    <p class="p-bottom">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {$vo.label}
                                            <span class="glyphicon glyphicon-thumbs-up" style="margin-left: 20px;"></span>
                                            {$vo.rise}
                                        <span style="margin-left: 20px;">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            {$vo.view}
                                        </span>
                                        <span style="margin-left: 20px;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            {$vo.posttime|date="Y/m/d",###}
                                        </span>
                                        
                                        <a href="__MODULE__/Code/detail?id={$vo.id}" style="float:right;text-decoration:none;">
                                            阅读全文
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <php>if(empty($vo['logo'])){</php>
                                     <img src="__PUBLIC__/images/shanzhijing.png" class="img-responsive ">
                                    <php>}else{</php>
                                    <img src="{$vo.logo}" class="img-responsive ">
                                     <php>}</php>
                                </div>
                            </div>

                            <hr class="hr-bottom"></volist>
                        <div class="row" id='wb' style="display:none;">
                        <div class="col-md-12 text-center">
                        <p class="load">已全部加载</p>
                        </div>
                        </div>
                    </div>
                    <!-- 加载模块 -->
                    <div class="row" id="loadIndex" style="display:block">
                        <div class="col-md-12 text-center">
                          <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                        </div>
                    </div>
                    <script type="text/javascript">
                                $(document).ready(function() {
                                    $(window).scroll(function(){
                                        if(window.scrollY>=$(document).height()-$(window).height()&&$('#wb').is(function(){
                                            if( $(this).css('display') == 'none'){
                                                return true;
                                            }else{
                                                return false;
                                            }
                                        })){ //到底
                                             var firstRow  = $('.content').children().size()-1;
                                             firstRow  = parseInt(firstRow/2); //计算起始主键
                                             console.log(firstRow);
                                             var load = $('#loadIndex');
                                            $.post('__MODULE__/Index/pageList', {firstRow:firstRow}, function(data) {
                                                if(data['status']==1){
                                                         var obj = $('.content').children().last().prev(); //追加对象
                                                         obj.after(data['info']);
                                                }else{
                                                    if(data['info']=='complate'){
                                                        load.css({'display':'none'}); //加载隐藏
                                                        $('#wb').css({'display':'block'})
                                                    }else{
                                                        warning(data['info'],'error'); 
                                                    }
                                                }
                                            }); 
                                        }
                                    })

                                });
                            </script>
                </div>
            </div>
            <div class="col-md-3 pull right">
                <div class="panel panel-default">
                    <div class="panel-heading pannel-title">
                        <i class="fa fa-code"></i>
                        编码
                    </div>
                    <div class="panel-body labelh " style="line-height:30px;">
                        <volist id="vo" name="code">
                            <a href="__MODULE__/Code/index?id={$vo.id}"><span class="label label-default">{$vo.cname}</span></a>&nbsp;
                        </volist>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading pannel-title">
                        <i class="fa fa-toggle-right"></i>
                        娱乐
                    </div>
                    <div class="panel-body labelh " style="line-height:30px;">
                        <volist id="vo" name="fun">
                               <a href="__MODULE__/Code/index?id={$vo.id}"><span class="label label-default">{$vo.cname}</span></a>&nbsp;
                        </volist>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading pannel-title">
                        <i class="fa fa-bitcoin"></i>
                        暴雪
                    </div>
                    <div class="panel-body labelh " style="line-height:30px;">
                        <volist id="vo" name="bx">
                               <a href="__MODULE__/Code/index?id={$vo.id}"><span class="label label-default">{$vo.cname}</span></a>&nbsp;
                        </volist>

                    </div>
                </div>
            </div>
        </div>
        <hr>

        <include file="Blocks/footer" />
         <include file="Blocks/top" />
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        $('.labelh span').hover(function(){
           $(this).removeClass('label-default');
            $(this).addClass('label-danger');
        },function(){
            $(this).removeClass('label-danger');
            $(this).addClass('label-default');
        })

        $('.pull').stickUp();
    });
</script>