<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<include file="Blocks/import" />
	<style type="text/css">
	  #rise,.share:hover{
	  	color:#5e5e5e;
	  }
	  .share{
		padding-top: 30px;
		color:#b4bbbf;
		cursor: pointer;
	  }
	  .nano li{
			padding:0px 10px 0px 10px; 
			cursor:pointer;
	  }
  </style>
</head>
<body>
	<include file="Blocks/nav" />
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<ol class="breadcrumb">
					<li>
						<a href="__MODULE__/Index/index">首页</a>
					</li>
					<php>
						$cou = count($mianbao);
                            for($i=$cou-1;$i>=0;$i--){
                                echo "
						<li>
							<a href='__MODULE__/Code/index?id=".$mianbao[$i]['id']."'>".$mianbao[$i]['cname']."</a>
						</li>
						";
                            }
					</php>
					<li>{$article.title|subtext=30}</li>
				</ol>

				<h2>{$article.title}</h2>
				<div>
					{$article.posttime|date='Y-m-d H:i:s',###} by
					<a href="#">{$article.author}</a>
					<ul class="list-inline pull-right nano">
						<li> <i class="fa fa-weibo fa-1.5x"></i>
						</li>
						<li> <i class="fa fa-weixin fa-1.5x"></i>
						</li>
						<li>
							<i class="fa fa-eye fa-1.5x"></i> {$article.view}
						</li>
						<li id="rise">
							<i class="fa fa-thumbs-up fa-1.5x"></i> {$article.rise}
						</li>
						
					</ul>
				</div>
				{$article.content|htmlspecialchars_decode}
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="col-md-3 col-md-offset-3 share">
							<p>
								<i class="fa fa-weibo fa-3x"></i>
							</p>
							<p>分享到微博</p>
						</div>
						<div class="col-md-3 share">
							<p>
								<i class="fa fa-weixin fa-3x"></i>
							</p>
							<p>分享到微信</p>
						</div>

						<!-- <i class="fa fa-weixin fa-3x"></i>
					-->
				</div>
				<div class="col-md-12">
					<nav>
						<ul class="pager">
							<php>if(!empty($article['fid'])){</php>
							<li>
								<a href="__MODULE__/Code/detail?id={$article.fid}">上</a>
							</li>
							<php>
								}
                if(!empty($article['nid'])){
							</php>
							<li>
								<a href="__MODULE__/Code/detail?id={$article.nid}">下</a>
							</li>
							<php>}</php>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<!--<div class="sidebar-module sidebar-module-inset">
			<h4>关于</h4>
			<p>犯得上发射点犯得上发射点防守方的说法是发射点发射点</p>
		</div>
		-->
		<div>
			<h4>推荐</h4>
			<ol class="list-unstyled">
				<volist id="vo" name="recommend">
					<a href="">
						<li>{$vo.title|subtext=20}</li>
					</a>
				</volist>
			</ol>
		</div>
		<div>
			<h4>其他</h4>
			<ol class="list-unstyled">
				<li>
					<a href="#">GitHub</a>
				</li>
				<li>
					<a href="#">Twitter</a>
				</li>
				<li>
					<a href="#">Facebook</a>
				</li>
			</ol>
		</div>
	</div>

</div>
<hr>
<include file="Blocks/footer" />
</div>
</body>
</html>

<script type="text/javascript">
	$(document).ready(function() {
		var num = $('#rise').text();
		$('#rise').click(function(){
			var id = {$Think.get.id};
			$.post('__MODULE__/Code/doRise',
			 {
			 	id:id
			 },
			  function(data) {
				if(data['status']==1){
					++num;
					$('#rise').text(num).css({"color":"red"});

				}else{
					alert(data['info']);
				}
			});
		})
	});
</script>