<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <include file="Blocks/import" />
    </head>
    <body>
        <include file="Blocks/nav" />
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ol class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li class="active">编码</li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="label label-default">PHP</span>
                            <a href=""><span class="label label-default">javascript</span></a>
                            <span class="label label-default">html</span>
                            <span class="label label-default">css</span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1>fdsfsfsf</h1>
                            <p><span class="label label-default">default</span></p>
                            <p>fsdfsdfsfsfsdfsfsdfsdfdsfs</p>
                            <p class="p-bottom">
                            <button class="btn btn-default btn-margin">赞</button>
                            <button class="btn btn-default btn-margin">浏览</button>
                            <a href="__MODULE__/Code/detail?id={$vo.id}"><button class="btn btn-default btn-margin" style="float: right;">阅读全文</button></a></p>
                            <hr class="hr-bottom">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">编码的乐趣</h4>
                        <p class="list-group-item-text">放松放松放松发士大夫十分法大师傅士大夫犯得上发射点犯得上发射点</p>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <include file="Blocks/footer" />
        </div>
    </body>
</html>