<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Blocks/import" />
</head>
<body>
    <include file="Blocks/nav" />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li>
                        <a href="__APP__">首页</a>
                    </li>
                    <php>
                        $cou = count($mianbao);
                            for($i=$cou-1;$i>0;$i--){
                        echo "
                        <li>
                            <a href='".U(PATH.'/'.$mianbao[$i]['id'])."'>".$mianbao[$i]['cname']."</a>
                        </li>
                        ";
                            }
                            echo "
                        <li>".$mianbao[0]['cname']."</li>
                        ";
                    </php>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-body labelh ">
                        <volist id="vo" name="nodeList">
                            <a href="{:U(PATH.'/'.$vo['id'])}" style="text-decoration:none;">
                                <span class="label label-default" id="node{$vo.id}">{$vo.cname}</span>
                            </a>
                            &nbsp;
                        </volist>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top:0;">
                        <volist id="vo" name="articleList">
                            <div class="row" style="padding-top:20px;">
                                <div class="col-md-9">
                                <a href="{:U(CONTENT.'/'.$vo['id'])}"><h3 style="padding-bottom: 3px;margin-top:3px;">{$vo.title|strip_tags|subtext=23}</h3></a>

                                    <p style="padding-bottom: 10px;">{$vo.content|htmlspecialchars_decode|strip_tags|subtext=120}</p>
                                    <p class="p-bottom">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {$vo.label}
                                            <span class="glyphicon glyphicon-thumbs-up" style="margin-left: 20px;"></span>
                                            {$vo.rise}
                                        <span style="margin-left: 20px;">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            {$vo.view}
                                        </span>
                                         <span style="margin-left: 20px;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            {$vo.posttime|date="Y/m/d",###}
                                        </span>
                                        
                                        <a href="{:U(CONTENT.'/'.$vo['id'])}" style="float:right;text-decoration:none;">
                                            阅读全文
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <php>if(empty($vo['logo'])){</php>
                                     <img src="__PUBLIC__/images/shanzhijing.png" class="img-responsive ">
                                    <php>}else{</php>
                                    <img src="{$vo.logo}" class="img-responsive ">
                                     <php>}</php>
                                </div>
                            </div>

                            <hr class="hr-bottom"></volist>
                            {$page}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <volist id="vo" name="recommend">
                        <a href="{:U(CONTENT.'/'.$vo['id'])}" class="list-group-item">
                            <h4 class="list-group-item-heading">{$vo.title|subtext=15}</h4>
                            <p class="list-group-item-text">{$vo.content|htmlspecialchars_decode|strip_tags|subtext=20}</p>

                        </a>
                    </volist>
                </div>
            </div>
        </div>
        <hr>
        <include file="Blocks/footer" />
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        //推荐变色
        // $('.list-group').children().eq(0).addClass('active');
         // $('.list-group').children().eq(0).css({"background-color":"#d9534f",'color':'white'});

        //label hover
         $('.labelh span').not('#node'+{$Think.get.id}).hover(function(){
           $(this).removeClass('label-default');
            $(this).addClass('label-danger');
        },function(){
            $(this).removeClass('label-danger');
            $(this).addClass('label-default');
        })

         //label chose
         $("#node"+{$Think.get.id}).removeClass("label-default").addClass("label-danger");
    });

</script>