<div class="row">
                <div class="col-md-12" style="padding:0;">
                    <footer>
                        <!-- <div class="row"> 
                            <div class="col-md-6 text-left">
                                <p>© Design 2016</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>Author:  达文西</p>
                            </div>
                        </div>-->
                        <div class="row"> 
                            <div class="col-md-12">
                                <p style="padding-top: 10px;"><span class="pull-left">© Design 2016</span>
                                <span class="pull-right">Author:  达文西</span></p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>