<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/blog.css">
<script src='__PUBLIC__/js/jquery-2.1.4.min.js'></script>
<script src='__PUBLIC__/js/bootstrap.min.js'></script>
<script src='__PUBLIC__/js/stickUp.min.js'></script>
<style type="text/css">
	body{
		background: url(__PUBLIC__/images/bg.jpg);
	}
</style>